.cocktail-show {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10% auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.cocktail-show-path {
  list-style-type: none;
  text-decoration: none;
}
